.freshAdded{
    background-color: #FFFFFF;
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
    // align-items: center;
    justify-content: center;
    
    h1{
        margin: 0px;
        padding: 0px;
        margin-left: 10%;
    }

    p {
        margin-top: 12px;
        padding: 0px;
        margin-left: 10%;
    }

    .carousel{
        margin-left: 10%;
        margin-right: 10%;
        flex-direction: row;
        display: flex;
        overflow: auto;

        >img{
            transform: scale(0.5);    
        }

        &::-webkit-scrollbar {
            height: 5px;
        }
          
        &::-webkit-scrollbar-track {
            background: #f1f1f1;
        }
          
        &::-webkit-scrollbar-thumb {
            background: #333;
            border-radius: 6px;
        
            &:hover {
                background: #555;
            }
        }
    }

    .button{

        width: 100%;
        margin-top: 35px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        button{
            outline: 0 none;
            border: 0 none;
            color: #FFFFFF;
            background-color: #222222;
            font-size: 17px;
            border-radius: 30px;
            height: 45px;
            width: 180px;
            
        }
        
    }
}