@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;600;700&display=swap');

html {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #F7F7F7;
    padding: 0;
    margin: 0;
    font-family: 'Maven Pro', sans-serif;
    font-weight: 400;
    font-size: 15px;
}

* {
    box-sizing: border-box;
}

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 0em;
    grid-row-gap: 0em;

    width: 100%;
    min-height: 0;
    min-width: 0;

    .col-1, .col-2, .col-3, .col-4, .col-5, .col-6,
    .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
        min-width: 0;
        min-height: 0;
        background-color: #F8F8F8;
        word-wrap: break-word;
    }

    .col-1 { grid-column: span 1; }
    .col-2 { grid-column: span 2; }
    .col-3 { grid-column: span 3; }
    .col-4 { grid-column: span 4; }
    .col-5 { grid-column: span 5; }
    .col-6 { grid-column: span 6; }
    .col-7 { grid-column: span 7; }
    .col-8 { grid-column: span 8; }
    .col-9 { grid-column: span 9; }
    .col-10 { grid-column: span 10; }
    .col-11 { grid-column: span 11; }
    .col-12 { grid-column: span 12; }
}

.pagesContainer {
    padding-top: 44px;
}

@media (max-width: 768px) {
    .grid {
      grid-template-columns: repeat(1, 1fr);
    }
    
    .col-1, .col-2, .col-3, .col-4, .col-5, .col-6,
    .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
      grid-column: 1 !important;
    }
}

button {
    background-color: #222222;
    border-radius: 20px;
    color: #FFFFFF;
    padding: 10px 20px;
    outline: 0 none;
    border: 0 none;

    &:hover {
        background-color: #333333;
        cursor: pointer;
    }
}